/* CSS declarations go here */
#left{
	background-color: #f5f5f5;
}

ul{
	list-style: none;
	list-style-type: none;
}
li{
	border: solid 1px black;
	margin: 5px;
	padding: 5px;
	background-color: #fff;
}

li.selected {
    background-color:GoldenRod
}

#clusterarea > ul{
	border: solid 1px black;
}